.Brother-1816-Thin{
    font-family: "brother-1816", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.Brother-1816-Light{
    font-family: "brother-1816", sans-serif;
    font-weight: 200;
    font-style: normal;
}
.Brother-1816-Regular{
    font-family: "brother-1816", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.Brother-1816-Regular-Italic{
    font-family: "brother-1816", sans-serif;
    font-weight: 400;
    font-style: italic;
}
.Brother-1816-Bold{
    font-family: "brother-1816", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.Brother-1816-Bold-Italic{
    font-family: "brother-1816", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.Brother-1816-Printed-Thin{
    font-family: "brother-1816-printed", sans-serif;
    font-weight: 100;
    font-style: normal;
}
.Brother-1816-Printed-Light{
    font-family: "brother-1816-printed", sans-serif;
    font-weight: 200;
    font-style: normal;
}
.Brother-1816-Printed-Regular{
    font-family: "brother-1816-printed", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.Brother-1816-Printed-Regular-Italic{
    font-family: "brother-1816-printed", sans-serif;
    font-weight: 400;
    font-style: italic;
}
.Brother-1816-Printed-Bold{
    font-family: "brother-1816-printed", sans-serif;
    font-weight: 700;
    font-style: normal;
}


